main {
  width: 1480px;
  border: 1px solid black;
  height: 3503px;
}
main .home-container {
  width: 100%;
  height: 707px;
  background-image: url("../../img/Rectangle 218.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .home-container .home-container-text {
  margin-top: 80px;
  margin-left: 170px;
  width: 33%;
  height: 471.86px;
  border: 1px solid red;
}
main .home-container .home-container-text .home-text-header {
  height: 34px;
  width: 38.2%;
  margin-bottom: 4.61px;
  border: 1px solid blue;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  background: -webkit-gradient(linear, right top, left top, from(#DA5D1A), color-stop(97.97%, #FF7D38));
  background: linear-gradient(270deg, #DA5D1A 0%, #FF7D38 97.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
main .home-container .home-container-text .home-text-main {
  height: 222px;
  width: 100%;
  margin-bottom: 25.37px;
  border: 1px solid blue;
  color: #010405;
  font-family: "Spline Sans", sans-serif;
  font-size: 59px;
  font-weight: 700;
  line-height: 73.2px;
}
main .home-container .home-container-text .home-text-footer {
  height: 82.19px;
  width: 82%;
  margin-bottom: 38.66px;
  border: 1px solid blue;
  color: #6B6867;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 27px;
}
main .home-container .home-container-text .home-buttom-getStarted {
  height: 57.83px;
  width: 30.7%;
  border: 1px solid blue;
  border-radius: 5px;
  background: url("../../img/CTA.png");
}
main .home-container .block-container-img {
  width: 50.56%;
  height: 575px;
  border: 1px solid red;
  margin: auto 55px;
}
main .home-container .block-container-img .img-women {
  background: url("../../img/graceful-european-woman.png");
  position: relative;
  top: 42.05px;
  z-index: 1;
  width: 73.9%;
  height: 533.26px;
  border: 1px solid blue;
}
main .home-container .block-container-img .img-sale {
  background: url("../../img/20% off.png");
  position: relative;
  bottom: 535px;
  z-index: 2;
  border: 1px solid blue;
  width: 20.54%;
  height: 173.5px;
}
main .home-container .block-container-img .img-background {
  background: url("../../img/Rectangle 263.png");
  position: relative;
  bottom: 710px;
  left: 5px;
  width: 73.21%;
  height: 575.3px;
  z-index: -2;
}
main .home-container .block-container-img .img-sub-background {
  background: url("../../img/Mask Group.png");
  position: relative;
  left: 117px;
  bottom: 1285px;
  width: 57.7%;
  height: 575.3px;
  z-index: -1;
  background-size: 100% 100%;
}
main .home-container .block-container-img .img-delivery {
  background: url("../../img/Easy delivery.png");
  position: relative;
  left: 500px;
  bottom: 1840px;
  width: 30.7%;
  height: 82px;
  z-index: 2;
  background-size: 100% 100%;
}
main .home-container .block-container-img .img-rating {
  background: url("../../img/Review.png");
  position: relative;
  left: 500px;
  bottom: 1510px;
  width: 38%;
  height: 121.76px;
  z-index: 2;
  background-size: 100% 100%;
}
main .conditions-container {
  width: 77.02%;
  height: 610px;
  margin: 130px auto 0px;
  border: 1px solid black;
}
main .conditions-container .conditions-container-text {
  height: 136px;
  border: 1px solid blue;
}
main .conditions-container .conditions-container-text .conditions-text-header {
  border: 1px solid red;
  width: 36.9%;
  height: 57px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  margin: 0px auto;
}
main .conditions-container .conditions-container-text .conditions-text-main {
  border: 1px solid red;
  width: 49.5%;
  height: 52px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 25px auto 0px;
  color: #6B6867;
  text-align: center;
}
main .conditions-container .conditions-container-blockImg {
  height: 307px;
  border: 1px solid blue;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .conditions-container .conditions-container-blockImg .conditions-block-FreeShipping {
  height: 307px;
  width: 31.57%;
  border: 1px solid red;
}
main .conditions-container .conditions-container-blockImg .conditions-block-FreeShipping .block-FreeShipping-img {
  width: 24.7%;
  height: 59.17px;
  border: 1px solid blue;
  margin: 40.42px auto 23.42px;
  background: url("../../img/Vector.png");
  background-size: 100% 100%;
}
main .conditions-container .conditions-container-blockImg .conditions-block-FreeShipping .block-FreeShipping-textOne {
  width: 54%;
  height: 43px;
  border: 1px solid blue;
  margin: 0px auto 20px;
  color: #0A0603;
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 43.4px;
}
main .conditions-container .conditions-container-blockImg .conditions-block-FreeShipping .block-FreeShipping-textTwo {
  width: 83.3%;
  height: 81px;
  border: 1px solid blue;
  margin: 0px auto 40px;
  color: #6B6867;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Payment {
  height: 307px;
  border: 1px solid red;
  width: 31.57%;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Payment .block-Payment-img {
  width: 23.3%;
  height: 59.43px;
  margin: 40.83px auto 22.83px;
  border: 1px solid blue;
  background: url("../../img/Group.png");
  background-size: 100% 100%;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Payment .block-Payment-textOne {
  width: 68.5%;
  height: 43px;
  border: 1px solid blue;
  margin: 0px auto 20px;
  color: #0A0603;
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 43.4px;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Payment .block-Payment-textTwo {
  width: 83.3%;
  height: 81px;
  border: 1px solid blue;
  margin: auto;
  color: #6B6867;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Support {
  height: 307px;
  border: 1px solid red;
  width: 31.57%;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Support .block-Support-img {
  width: 15.5%;
  height: 59.93px;
  border: 1px solid blue;
  margin: 40px auto 23.7px;
  background: url("../../img/7.png");
  background-size: 100% 100%;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Support .block-Support-textOne {
  width: 50.39%;
  height: 43px;
  border: 1px solid blue;
  margin: 0px auto 20px;
  color: #0A0603;
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 43.4px;
}
main .conditions-container .conditions-container-blockImg .conditions-block-Support .block-Support-textTwo {
  width: 83.3%;
  height: 81px;
  margin: 0px auto;
  border: 1px solid blue;
  color: #6B6867;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
main .conditions-container .container-ButtonSeeMore {
  border: 1px solid red;
  width: 11.92%;
  height: 57px;
  margin: 46px 500px;
  border-radius: 5px;
  background-color: #DA5D1A;
}
main .conditions-container .container-ButtonSeeMore .buttonSeeMore {
  border: 1px solid blue;
  width: 70%;
  height: 27px;
  color: #FFFFFF;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
main .discount-container {
  width: 77.02%;
  height: 602px;
  border: 1px solid black;
  margin: 130px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .discount-container .discount-block-40 {
  width: 48.64%;
  height: 600px;
  border: 1px solid blue;
  background-image: url("../../img/Rectangle 218.png");
}
main .discount-container .discount-block-40 .block-img-justYou {
  position: relative;
  margin: 30px 382px 477.51px 30px;
  width: 25.76%;
  height: 92.49px;
  border: 1px solid red;
  background-image: url("../../img/just for you.png");
  background-size: 100% 100%;
}
main .discount-container .discount-block-40 .block-img-lady {
  position: relative;
  border: 1px solid red;
  width: 72%;
  height: 553px;
  top: -557px;
  left: 78px;
  background-image: url("../../img/lady.png");
  background-size: 100% 100%;
}
main .discount-container .discount-block-40 .block-img-discount {
  position: relative;
  border: 1px solid red;
  width: 40%;
  height: 220px;
  top: -810px;
  left: 30px;
  border-radius: 50%;
  background: #CC6154;
}
main .discount-container .discount-block-40 .block-img-discount .img-textOne {
  width: 21.36%;
  height: 27px;
  border: 1px solid blue;
  margin: 30px auto 0px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
main .discount-container .discount-block-40 .block-img-discount .img-textTwo {
  width: 50.54%;
  height: 73px;
  margin: 17px auto 0px;
  border: 1px solid blue;
  color: #FFFFFF;
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  text-align: center;
}
main .discount-container .discount-block-40 .block-img-discount .img-textThree {
  width: 45.5%;
  height: 33px;
  margin: 10px auto 0px;
  border: 1px solid blue;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}
main .discount-container .discount-block-25 {
  width: 48.64%;
  height: 600px;
  border: 1px solid blue;
  margin-left: 30px;
}
main .discount-container .discount-block-25 .block-imgNav {
  width: 100%;
  height: 285px;
  border: 1px solid red;
  background-image: url("../../img/Rectangle 257.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .discount-container .discount-block-25 .block-imgNav .imgNav-lady {
  width: 47.02%;
  height: 275px;
  border: 1px solid blue;
  background-image: url("../../img/lady2.png");
  background-size: 100% 100%;
  margin: 10px 44px 0px 80px;
}
main .discount-container .discount-block-25 .block-imgNav .imgNav-discount {
  width: 27%;
  height: 150px;
  border: 1px solid blue;
  border-radius: 50%;
  margin: 115px 20px 20px 0px;
  background-image: url("../../img/Ellipse 159.png");
}
main .discount-container .discount-block-25 .block-imgNav .imgNav-discount .imgNav-textOne {
  width: 28.3%;
  height: 24px;
  border: 1px solid blue;
  margin: 15px auto 0px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
main .discount-container .discount-block-25 .block-imgNav .imgNav-discount .imgNav-textTwo {
  width: 52%;
  height: 57px;
  border: 1px solid blue;
  margin: 10px auto 0px;
  color: #FFFFFF;
  font-family: "Spline Sans", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 57px;
  text-align: center;
}
main .discount-container .discount-block-25 .block-imgNav .imgNav-discount .imgNav-textTree {
  width: 56.3%;
  height: 27px;
  border: 1px solid blue;
  margin: 0px auto 0px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
main .discount-container .discount-block-25 .block-imgMain {
  width: 100%;
  height: 285px;
  border: 1px solid blue;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .discount-container .discount-block-25 .block-imgMain .imgMain-imgOne {
  width: 47.02%;
  height: 285px;
  background-image: url("../../img/Rectangle 258.png");
}
main .discount-container .discount-block-25 .block-imgMain .imgMain-imgOne .img-women {
  width: 88.6%;
  height: 258px;
  border: 1px solid blue;
  margin: 26px auto 0px;
  background-image: url("../../img/little-woman.png");
  background-size: 100% 100%;
}
main .discount-container .discount-block-25 .block-imgMain .imgMain-imgTwo {
  width: 47.02%;
  height: 285px;
  background-image: url("../../img/Rectangle 259.png");
  margin-left: 32.5px;
}
main .discount-container .discount-block-25 .block-imgMain .imgMain-imgTwo .img-girl {
  width: 82.06%;
  height: 265px;
  border: 1px solid blue;
  margin: 0px auto 0px;
  background-image: url("../../img/interested-woman-posing.png");
  background-size: 100% 100%;
}

/*# sourceMappingURL=home.css.map */